h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.container {
    max-width: 800px;
}

#disqus_thread {
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand{
    font-size: 22px;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}
h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
body > p, body > li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}