h1{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.container{
    max-width: 800px;
}

.navbar{
    margin-bottom: 0;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}
h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p, li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}